<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Strona_1</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1><strong>Oto moja pierwsza strona</strong></h1>
        <h1 class="drugi">O mnie</h1>
        <p>Imię: Michał</p>
        <p>Nazwisko: Lewandowski </p>
        <p><a href="{{ url_for('websitetwo') }}">Kontakt</a></p>
        <img src="https://en.meming.world/images/en/thumb/1/17/Willem_Dafoe_Looking_Up.jpg/300px-Willem_Dafoe_Looking_Up.jpg" alt="Kiedy siedzisz juz 6h w pracy ale zegarek pokazuje 08:05" title="To ja">

    </body>
</html>